* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ccc;
}

.container {
    background-color: white;
    max-width: 700px;
    height: 700px;
    margin: 0 auto;
    /* border: 2px solid black; */
    margin-top: 10px;

}

#pi {
    padding: 15px 0 15px 55px;
    /* border : 2px solid black ; */
}

.title {
    text-align: center;
    padding: 15px;
}

.universalClass {
    margin-top : 10px;
    display: flex;
    justify-content: space-around;
    padding-right: 150px;
    /* border: 2px solid red; */

    max-width: 600px;
    /* height: 700px; */
    margin: 0 auto;
}