* {
    padding: 0;
    margin: 0;
}

body {
    background-image: url("https://media.istockphoto.com/id/1025533834/vector/geometric-seamless-pattern-with-black-triangles-crosses-and-circles-on-white-background.jpg");

    background-position: center;  
    background-size: 50vmin;
    text-align: center;
}

h1 {
    background-color: rgb(255, 255, 255, 0.9);
    margin-top: 2vmin;
    display: inline-block;
    border: 0.3vmin solid black;
    padding: 0vmin 5vmin;
}

section { margin: 6vmin; }

.fieldset-div {
    /* border: 0.4vmin solid black; */
    width: 40vmin;
    height: 20vmin; 

    display: flex;
    justify-content: center;
    
    position: fixed;
    left: 155vmin;
    top: 15vmin;
    
}

#fieldset-top {
    background-color: rgba(255, 255, 255, 1);

    border: 0.4vmin solid black;
    width: 33vmin;
    height: 15vmin;

    text-align: left;
    padding-left: 2vmin;
    color: black;

    line-height: 4.5vmin;
    font-family: inter;
    font-size: 2.5vmin;
}


.container {     
    margin: 0 auto; 
    max-width: 75vmin;
    height: 60vmin;
    
    display: flex;
    justify-content: center;  
    align-items: center;  

}

.content {
    width: 57vmin;
    height: 57vmin;
    border: 1vmin solid black;
    background-color: white;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    gap: 3vmin;
    
}

legend {
    color : black;
    font-family: monospace;
    font-size: 20px;
    padding: 0vmin 0.5vmin;
    background-color: white;
}

#fieldset-bottom {
    width: 60vmin;
    padding: 3vmin;
    border: 0.5vmin solid black;
    background-color: rgba(255, 255, 255, 0.9);

    border-radius: 1.5vmin;
    display: flex;
    justify-content: space-evenly;
    
}

#field-set-div {
    text-align: left;
    display: flex;
    justify-content: center;
    
}

.buttons {
    font-family: monospace;
    width: 24.5vmin;
    height: 3.5vmin;

}

.box {
    width: 14vmin;
    height: 14vmin;
    border-radius: 2vmin;
    border: none;
    font-size: 4.5rem;
    
    background-color: white;
    box-shadow: 0vmin 0vmin 2vmin black;
}

button {
    background-color: rgba(255, 255, 0, 0.5);
}

