* {
    padding: 0;
    margin: 0;
}

body {
    /* background-color: lightblue; */
    font-family: inter, sans-serif;
    background-color: royalblue;
    text-align: center;
}

section {
    padding: 2.3vmin;
}

.container { /* Top most parent */
    border: 0.3vmin solid black;
    margin: 0 auto; 
    max-width: 65vmin;
    height: 65vmin;

    display: flex;
    justify-content: center;  
    align-items: center;  
    border: 3vmin solid white;
}

.content {
    /*set according to height as it is smallest from width*/ 
    width: 60vmin;
    height: 60vmin;
    /* border: 0.5vmin solid black; */

    /* width: 63.4%; 
    height: 71.3%; */

    display: flex;
    flex-wrap: wrap;
   
    justify-content: center;
    align-content: center;
    gap: 2.5vmin;
    
    
}

.box {
    width: 17vmin;
    height: 17vmin;
    border-radius: 2vmin;
    border: none;
    font-size: 4.5rem;
    box-shadow: 0vmin 0vmin 7vmin rgb(0, 0, 0);
    
}

#field-set {
    padding: 2vmin 0 2vmin 3vmin;
    width: 55vmin;

}

#field-set-div {
    text-align: left;
    display: flex;
    justify-content: center;
    
}

.buttons {
    width: 14vmin;
    height: 3vmin;
    border-radius: 1.7vmin;
}

