* {
    padding: 0;
    margin: 0;
}

body {
    /* background-color: lightblue; */
    /* background-color: royalblue; */
    /* background-color: lightcoral; */
    background-color: midnightblue;
    
    font-family: inter, sans-serif;
    text-align: center;
}
h1 {
    margin-top: 1.5vmin;
}
section {
    padding: 2.3vmin;
}

.container { /* Top most parent */
    margin: 0 auto; 
    max-width: 75vmin;
    height: 60vmin;
    
    display: flex;
    justify-content: center;  
    align-items: center;  
    /* border: 0.3vmin solid black; */
    /* border: 2vmin solid white; */
}

.content {
    /*set according to height as it is smallest from width*/ 
    width: 55vmin;
    height: 55vmin;
    border: 1vmin solid white;

    /* width: 63.4%; 
    height: 71.3%; */

    display: flex;
    flex-wrap: wrap;
   
    justify-content: center;
    align-content: center;
    gap: 2.8vmin;
    
}

.box {
    width: 14vmin;
    height: 14vmin;
    border-radius: 2vmin;
    border: none;
    font-size: 4.5rem;
    box-shadow: 0vmin 0vmin 2.5vmin rgb(0, 0, 0);
    
}

legend {
    color : gold;
    font-family: monospace;
    font-size: 20px;
    padding: 0 1.5vmin;
}

#field-set {
    width: 60vmin;
    padding: 2.3vmin;
    border: 0.5vmin solid white;
    border-radius: 1.5vmin;

    display: flex;
    justify-content: space-evenly;  
}

#field-set-div {
    text-align: left;
    display: flex;
    justify-content: center;
    
}

.buttons {
    font-family: monospace;
    width: 24.5vmin;
    height: 3.5vmin;
}

